<%- include('../layout/adminHeader') %>

<h2 class="page-title">Add a Categories</h2>
<a href="/admin/categories" class="btn btn-primary">Back to All Categories</a>
<br /><br />

<form action="/admin/categories/add-categories" method="post">
    <div class="form-group">
        <label for="">Title *</label>
        <input type="text" name="title" class="form-control" value="<%= title %>" placeholder="Title" />
    </div>

    <button class="btn btn-default">Kirim</button>
</form>


<%- include('../layout/adminFooter') %>